# Environnements / dépendances
.venv
venv/

# Secrets
.env

# Caches Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints

# Données & sorties générées
data
output
images
pipeline.log
*.pdf

# OS
.DS_Store
