# Pipeline (extraction, enrichissement, consolidation)
feedparser
requests
pandas
python-dotenv

# Visualisation
matplotlib
seaborn

# Notebook d'analyse & Machine Learning
jupyter
nbconvert
scikit-learn
plotly
